<template>
  <div class="card">
    <slot name="header" />
    <div class="body">
      <slot />
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .card {
    max-width: 470px;
    width: 100%;
    border-radius: 6px;
    padding-bottom: 6px;
    overflow: hidden;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    background-color: transparent;
  }

  .body {
    border-top: 1px inset rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 128px;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0 0 6px 6px;
    position: relative;
    z-index: 1;
  }
</style>
